body {
    background-color: #FFFEB7;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
}

.pokemon-list {
    list-style: none;
    padding: 0;
}

.pokemon-button {
    border-radius: 10px;
    border-bottom: 4px solid #000;
    background-color: rgb(221, 70, 70);
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
}
